// COLORS
$color-light: #7ed56f;
$color-medium: #55c57a;
$color-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$primary-text-color: #777;
$light-text-color:  #fff;
$color-black: #000;

$color-light-grey-1: #f7f7f7;
$color-light-grey-2: #eee;

$color-dark-grey-2: #999;
$color-dark-grey-3: #333;

//FONT
$default-font-size: 1.6rem;

// GRID
$row-maxwidth: 114rem;
$row-maxwidth-small: 50rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;