.form {
    padding: 1rem; 
    
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        //this is how you should style button and input element by giving more padding on the sides!!!
        padding: 1.5rem 2rem;
        width: 90%;
        display: block;
        border-radius: 3px;
        font-family: inherit;
        color: inherit;
        border: none;
        background-color: rgba($light-text-color, 0.8);
        border-bottom: 2px solid transparent;
        transition: all 0.2s;
        
        @include respond(tab-port) {
            width: 100%;
            font-size: 2.4rem;
        }

        //if the element is focused then it is not necessary that it will be active but if an element is active then it is 
        //focused as well---> :focus:active
        &:focus {
            outline: none;
            box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);
            border-bottom: 2px solid $color-dark;
        }

        //:input-placeholder is used to style the placeholder text
        &::-webkit-input-placeholder {
            color: $color-dark-grey-2;
        }
    }

    &__input:invalid:focus {
        border-bottom: 2px solid orangered;
    }

    &__label {
        margin-top: .5rem;
        margin-left: 2rem;
        display: block;
        text-transform: capitalize;
        transition: all 0.2s;
        font-size: 1.1rem;
        font-weight: 700;
    }


    //input/textarea/etc element psuedo class ":placeholder-shown" is used to  check whether the placeholder is currentlty visible or not
    //Sibling selectors---->
    //the "+" is used to select the adjacent sibling element that is the element that is immediately below it
    //the "~" can be used to select any sibling elements
    &__input:placeholder-shown + &__label {
        visibility: hidden;
        opacity: 0;
        transform: translateY(-4rem);
    }

    .heading-secondary {
        margin-top: 1rem;
    }

    &__radio {
        width: 49%;
        display: inline-block;

        @include respond(tab-port) {
            width: 100%;
            margin-bottom: 2rem;
        }
    }

    &__label-radio {
        font-size: 1.7rem;
        text-transform: capitalize;
        position: relative;
        padding-left: 3rem;
    }

    &__input-radio {
        visibility: hidden;
    }

    &__radio-btn {
        display: inline-block;
        height: 2rem;
        width: 2rem;
        position: absolute;
        top: 1px;
        left: 0;
        border: 2px solid $color-dark;
        border-radius: 50%;

        &::after {
            display: block;
            content: "";
            height: 1rem;
            width: 1rem;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $color-dark;
            opacity: 0;
            transition: opacity .2s;
        }
    }

    &__input-radio:checked + &__label-radio &__radio-btn::after {
        opacity: 1;
    }

}